python-dotenv
langchain
langchain-community
langchain-core
openai
youtube-transcript-api
faiss-cpu
streamlit
chromadb
cohere
pandas
db-sqlite3
tqdm
sentence-transformers
pandas
rank_bm25
jupyterlab
torch
transformers
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cu118
huggingface_hub
hf_xet
tqdm
seaborn
matplotlib
datasets
torch-lr-finder
googlesearch-python
newspaper3k
beautifulsoup4
lxml_html_clean
google-play-scraper
cerebras_cloud_sdk
langchain-chroma
rich
numpy
langchain
llama-index
langchain_experimental
langchain_openai
umap-learn>=0.5.0
pyabsa
logger
google-play-scraper
langdetect